.muiModalBoxStyled {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 50rem;
  max-height: 50rem;
  max-width: 41rem;
  min-width: 41rem;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  border-radius: 2rem;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  outline: none;
  overflow: hidden;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  border-radius: 50%;
  color: var(--text-primary);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  line-height: 1;
  z-index: 10;
}
.closeButton:hover {
  color: var(--text-alternative);
  background-color: var(--bg-tertiary);
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 1.5rem 0;
  padding-left: 5px;
}
.currentUsername {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--text-primary);
}

.searchAndAddContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 1.1rem;
}

.searchBarWrapper {
  flex-grow: 1;
}

.addFriendButtonStyled {
  background: none;
  color: var(--text-alternative);
  border: none;
  cursor: pointer;
}

.friendsListColumn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.friendItemStyled {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  border-radius: 10px;
  transition: background-color 0.15s ease-in-out;
  cursor: default;
}
.friendItemStyled:hover {
  background-color: rgba(255, 255, 255, 0.07);
}
.friendItemStyled:hover .friendMuiAvatarEffect {
  transform: scale(1.15);
}

.avatarContainer {
  margin-right: 12px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
}
.friendMuiAvatarEffect {
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.genericAvatarIcon {
  font-size: 1.5rem;
  line-height: 1;
}

.friendUsernameStyled {
  font-size: 1rem;
  color: var(--text-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.noFriendsMessage {
  text-align: center;
  color: var(--text-alternative);
  font-size: bold;
  padding: 2rem;
  font-size: 1.5rem;
}
