.container {
  display: flex;
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-primary);
  border-radius: 12px;
  width: 100%;
  height: 12rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out,
    border-color 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
  box-sizing: border-box;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container:hover > .addButton {
  opacity: 1;
}

.container:hover {
  transform: translateY(-2px);
  border-color: var(--color-accent-vibrant-green-main);
  box-shadow: 0 2px 25px var(--color-accent-pastel-shadow-hover);
  cursor: pointer;
}

.contentWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
  border-left: 2px solid var(--color-accent-pastel-main);
  padding: 15px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-white);
}

.titleWrapper {
  display: flex;
  margin-bottom: 0.4rem;
}

.description {
  font-size: 1.1rem;
  color: var(--color-white);
  margin: 0 0 8px 0;
  overflow: hidden;
  max-width: 90%;
  height: 4.5rem;
}

.dataWrapper {
  margin-top: auto;
  padding-top: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dataText {
  font-size: 1.2rem;
  color: var(--color-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.versionText {
  font-size: 1.2rem;
  color: var(--color-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: auto;
}

.icon {
  border-top-left-radius: var(--border-radius-large);
  border-bottom-left-radius: var(--border-radius-large);
}

.addIcon {
  color: var(--color-accent-pastel-dark);
  display: block;
  margin-left: auto;
}

.hoverCard {
  position: absolute;
  left: 15rem;
  opacity: 0;
  transform: translateX(-50%) scale(0.35);
  transition:
    opacity 0.2s ease-out,
    visibility 0s linear 0.2s,
    transform 0.2s ease-out;
  transition-delay: 0.5s;
}

.addButton {
  height: fit-content;
  width: fit-content;
  opacity: 0;
}

.addIcon {
  color: var(--color-accent-pastel-main);
  position: relative;
  top: 0;
  right: 0;
  transition: color 0.3s ease-in-out;
}

.addIcon:active {
  color: var(--color-accent-secondary-main);
}
.mainLinkArea {
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  color: inherit;
  min-width: 0;
}
