.dropdownWrapper {
  position: relative;
  display: inline-block;
}

/* Estilos para el botón si no se pasan externamente o para el arrow */
.arrow {
  margin-left: 6px;
  font-size: 0.8em;
}

.activeButton {
  background-color: var(--bg-tertiary-active);
}

.menuBase {
  position: absolute;
  top: calc(
    100% + 4px
  ); /* esto no es una burrada, es para que este un poquito debajo del boton el dropdown */
  background-color: var(--bg-secondary);
  border: 1px solid var(--text-primary);
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.menuAlignLeft {
  left: 0;
}

.menuAlignRight {
  left: auto;
  right: 0;
}
