.muiModalBoxStyled {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 15rem;
  max-height: 15rem;
  max-width: 22rem;
  min-width: 31rem;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  border: 1px solid var(--color-accent-pastel-main);
  border-radius: 2rem;
  box-shadow: 0 0 25px var(--color-accent-vibrant-green-shadow-hover);
  padding: 0.5rem 2rem;
  align-content: center;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  border-radius: 50%;
  color: var(--color-accent-pastel-main);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  line-height: 1;
  z-index: 10;
}
.closeButton:hover {
  color: var(--color-white);
  background-color: var(--color-bg-tertiary);
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.titleText {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0;
}

.actionButtonsContainer {
  display: flex;
  gap: 1rem;
}

.actionButton {
  background: transparent;
  padding: 0.6rem 1rem;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  font-size: 0.9rem;
  transition:
    background-color 0.2s,
    border-color 0.2s,
    color 0.2s;
  font-weight: bold;
}

.applyButton {
  background-color: var(--color-bg-vibrant-green-semi-transparent);
  color: var(--color-accent-vibrant-light-green-main);
  border: 1px solid var(--color-accent-vibrant-green-main);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-out,
    box-shadow 0.3s ease-in-out,
    border-color 0.3s ease-out;
}
.applyButton:hover {
  background-color: var(--color-accent-vibrant-green-main);
  border-color: var(--color-white);
  color: var(--color-white);
  box-shadow: 0 2px 25px var(--color-accent-pastel-shadow-hover);
}

.cancelButton {
  background-color: var(--color-bg-vibrant-red-semi-transparent);
  color: var(--color-accent-vibrant-red-main);
  border: 1px solid var(--color-accent-vibrant-red-main);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-out,
    box-shadow 0.3s ease-in-out,
    border-color 0.3s ease-out;
}
.cancelButton:hover {
  background-color: var(--color-accent-vibrant-red-main);
  border-color: var(--color-white);
  color: var(--color-white);
  box-shadow: 0 2px 25px var(--color-accent-pastel-shadow-hover);
}
