.muiModalBoxStyled {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 10rem;
  max-height: 10rem;
  max-width: 17.5rem;
  min-width: 17.5rem;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  border-radius: 2rem;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  align-content: center;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  border-radius: 50%;
  color: var(--text-primary);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  line-height: 1;
  z-index: 10;
}
.closeButton:hover {
  color: var(--text-alternative);
  background-color: var(--bg-tertiary);
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.themeSwitchContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: start;
}

.themeSwitchText {
  font-size: 1.5rem;
  color: var(--text-primary);
  margin: 0;
}
