.homePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  margin-top: 2rem;
}

.filterControlsContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1rem;
  align-self: center;
}

.searchBarContainer {
  width: 50%;
  align-self: center;
}

.appListContainer {
  width: 100%;
  max-width: 81.5rem; /* Pero no más de 81.5rem */
  margin-left: auto; /* Para centrar el contenedor si es más angosto */
  margin-right: auto;
}

.appOtherList {
  display: grid;
  /* Para 2 columnas, podría ser menos necesario, pero por consistencia: */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); /* Ajusta 25rem */
  justify-content: center;
  /* justify-items: center; */
  gap: 1rem;
  width: 100%;
}

.appMosaicList {
  display: grid;
  /* Intenta encajar columnas de al menos, por ejemplo, 18rem.
     'auto-fit' colapsará las pistas vacías, 'auto-fill' las mantendrá.
     Prueba ambas para ver cuál se ajusta mejor a tu diseño. */
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-content: center; /* Puede que no sea necesario si las columnas llenan el espacio */
  /* justify-items: center; Mantenlo si quieres centrar el contenido DENTRO de cada celda */
  gap: 1rem;
  width: 100%;
}

input[type="text"]::placeholder {
  color: var(--text-primary);
  opacity: 0.5;
}
