.appsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 48rem;
  width: 100%;
}

.listContainer {
  padding: 0 3rem;
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-accent-secondary-dark);
  border-radius: 2rem;
  min-height: 40rem;
  max-height: 40rem;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: box-shadow 0.3s ease-in-out;
}

.appList {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
}
