.appList {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
}

.appOtherList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  gap: 1rem;
}

.appMosaicList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  gap: 1rem;
}

.appsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem;
  height: 48rem;
}

.searchBarContainer {
  width: 50%;
  align-self: center;
}

.filterControlsContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1rem;
  align-self: center;
}

.listContainer {
  padding: 0 3rem;
  background-color: var(--bg-secondary);
  border: 1px solid var(--text-primary);
  border-radius: 2rem;
  min-height: 40rem;
  max-height: 40rem;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
