.container {
  background-color: var(--bg-primary);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  width: 320px; /* Ancho fijo para la tarjeta flotante */
  overflow: visible; /* Para que el contenido respete el borde redondeado */
  border: 1px solid; /* Borde sutil */
  border-color: var(--text-primary);
  border-radius: 8px;
  pointer-events: none;
  z-index: 3;
  position: relative;
  opacity: 0;
  transform: scale(0.35);
  transition:
    opacity 0.2s ease-out,
    visibility 0s linear 0.2s,
    transform 0.2s ease-out;
  transition-delay: 0.5s;
}

.containerVisible {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.5s;
}

/* .container::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 100%;
  z-index: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 11px 0;
  border-color: transparent var(--text-primary) transparent transparent;
}

.container::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 100%;
  z-index: 1; 
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--bg-primary) transparent transparent;
} */

.banner {
  width: 100%;
  height: 10rem; /* Altura del banner/imagen */
  object-fit: cover; /* Asegura que la imagen cubra el espacio */
  display: block; /* Evita espacio extra debajo de la imagen */
  background-color: #1f2937; /* Color de fondo mientras carga o si no hay imagen */
}

.contentWrapper {
  padding: 12px 15px; /* Relleno interno */
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 8px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Añade '...' si el título es muy largo */
}

.description {
  font-size: 0.88rem;
  color: #cdd5e0; /* Color de texto ligeramente más claro */
  margin-bottom: 12px;
  line-clamp: 3; /* Número de líneas a mostrar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: calc(3 * 1.2em); /* Reserva espacio aprox. para 3 líneas */
  line-height: 1.2em;
}

.metaDataGrid {
  display: flex;
  flex-direction: column; /* Apila los metadatos verticalmente */
  gap: 6px; /* Espacio entre ítems de metadatos */
}

.metaDataItem {
  display: flex;
  align-items: center; /* Alinea icono y texto verticalmente */
  gap: 8px; /* Espacio entre icono y texto */
}

.metaDataIcon {
  color: var(--text-alternative); /* Color azul claro para los iconos */
  font-size: 1.1rem !important; /* Ajusta el tamaño del icono (usa !important si es necesario por Material UI) */
  flex-shrink: 0; /* Evita que el icono se encoja */
}

.metaDataText {
  font-size: 0.85rem;
  color: #e0e0e0; /* Color de texto para los metadatos */
}
