.appPageContainer {
  background-color: var(--color-bg-secondary);
  padding: 24px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0.8rem auto;
  min-width: 80rem;
  max-width: 80rem;
  border: 1px solid var(--color-accent-secondary-dark);
  border-radius: var(--border-radius-medium);

  box-shadow: 0 0 25px var(--color-accent-vibrant-green-shadow-hover);
}

.appTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-white);
  margin: 0;
}

.topRow {
  display: flex;
  gap: 1.5rem;
}

.bottomRow {
  display: flex;
}

.imageContainer {
  aspect-ratio: 16 / 9;
  min-width: 60%;
  max-height: 24rem;
  border: 1px solid var(--color-accent-pastel-main);
  border-radius: 2rem;
  margin: auto;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.imageContainer:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px var(--color-accent-vibrant-green-shadow-hover);
}

.appImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 2rem;
}

.appInfoContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-tertiary);
  padding: 1rem;
  border: 1px solid var(--color-accent-pastel-main);
  border-radius: 0.5rem;
  height: 20rem;
  max-height: 20rem;
  margin: 2rem 0;
}

.appInfoText {
  font-size: 1.2rem;
  color: var(--color-text-secondary);
  transition: background-color 0.3s ease-in-out;
}

.appInfoTextLink {
  cursor: pointer;
}

.appInfoTextLink:hover {
  background-color: var(--color-accent-pastel-shadow);
}

.aboutSection {
  padding: 0 1.2rem 1.2rem 1.2rem;
  max-width: 58%;
  min-width: 58%;
  height: 16rem;
  margin-right: 1rem;
}

.sectionTitle {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--color-text-primary);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-border-secondary);
  margin: 0;
}

.aboutDescription {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--color-text-secondary);
  max-height: 16rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.friendsContainer {
  flex-grow: 1;
  background-color: var(--color-bg-tertiary);
  border: 1px solid var(--color-accent-pastel-main);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 0 2rem 2rem 2rem;
  margin: auto;
}

.friendsSection {
  padding: 20px;
}

.firendAvatar {
  transition:
    transform 0.2s ease-out,
    background-color 0.2s ease-out,
    border-color 0.2s ease-out;
}

.friendAvatar:hover {
  background-color: var(--bg-primary);
  border-color: var(--bg-tertiary);
  transform: scale(1.15);
  transition: transform 0.2s;
  box-shadow: 0 0 8px var(--text-alternative);
}

.downloadButton {
  background-color: var(--color-bg-vibrant-green-semi-transparent);
  padding: 1rem;
  color: var(--color-accent-vibrant-light-green-main);
  border: 1px solid var(--color-accent-vibrant-green-main);
  border-radius: var(--border-radius-small);
  cursor: pointer;
  font-size: 1.4rem;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-out,
    box-shadow 0.3s ease-in-out,
    border-color 0.3s ease-out;
  font-weight: bold;
  display: flex;
  gap: 0.5rem;
  align-self: end;
}

.downloadButton:hover {
  background-color: var(--color-accent-vibrant-green-main);
  border-color: var(--color-white);
  color: var(--color-white);
  box-shadow: 0 2px 25px var(--color-accent-pastel-shadow-hover);
}

.uninstallButton {
  background-color: var(--color-bg-vibrant-red-semi-transparent);
  color: var(--color-accent-vibrant-red-main);
  border: 1px solid var(--color-accent-vibrant-red-main);
}

.uninstallButton:hover {
  background-color: var(--color-accent-vibrant-red-main);
  border-color: var(--color-white);
  color: var(--color-white);
  box-shadow: 0 2px 25px var(--color-accent-pastel-shadow-hover);
}
