.searchBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid var(--color-border-secondary);
  border-radius: var(--border-radius-medium);
  background-color: var(--color-bg-input);
  color: var(--color-text-primary);
  font-size: 1rem;
  box-sizing: border-box;
  height: 3rem;
  transition:
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.input::placeholder {
  color: var(--color-text-placeholder);
}

.input:focus {
  outline: none;
  border-color: var(--color-accent-vibrant-green-main);
  box-shadow: 0 0 0 3px var(--color-accent-vibrant-green-shadow);
}

.searchButton {
  background-color: var(--color-accent-vibrant-green-dark);
  border: none;
  border-radius: var(--border-radius-medium);
  color: var(--color-white);
  font-weight: bold;
  padding: 0.76rem 3rem;
  cursor: pointer;
  font-size: 1rem;
  height: 3rem;
  transition:
    box-shadow 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.searchButton:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--color-accent-vibrant-green-shadow-hover);
  background-color: var(--color-accent-vibrant-green-main);
}

.searchButton:active {
  transform: scale(1);
  background-color: var(--color-accent-vibrant-green-darker);
  color: var(--color-text-primary);
}
