.searchBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ffffff;
  background-color: var(--bg-secondary);
  color: #ffffff;
  font-size: 1rem;
  box-sizing: border-box;
  height: 3rem;
}

.input::placeholder {
  color: #a0a0a0;
}

.input:focus {
  outline: none;
  border-color: #a0d8ef;
  box-shadow: 0 0 5px rgba(160, 216, 239, 0.5);
}

.searchIcon {
  background-color: var(--bg-secondary);
  padding: 0.48rem 2rem;
  border: 1px solid var(--text-alternative);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-right: none;
  color: var(--text-alternative);
  height: 3rem;
}

.searchButton {
  background-color: var(--bg-secondary);
  border: 1px solid var(--text-alternative);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left: none;
  color: var(--text-alternative);
  padding: 0.76rem 3rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  height: 3rem;
}
