.container {
  background-color: var(--color-bg-header);
  min-height: 4rem;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

.actionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.navigationActionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.username {
  font-size: 1rem;
  margin: 0.6rem 0;
  color: var(--color-accent-pastel-main);
}

.navigationText {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-accent-pastel-main);
  margin: 0;
  transition: color 0.2s ease-in-out;
}

button p:hover {
  color: var(--color-white);
  cursor: pointer;
}

button:hover .icon {
  color: var(--color-white);
}

button p:hover::after,
button p:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

button p::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--color-accent-vibrant-green-main);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navigationButton {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  font-size: 0.8rem;
  color: var(--color-accent-pastel-main);
}
