.titleBar {
  min-height: 2.5rem;
  max-height: 2.5rem;
  background-color: var(--color-bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  -webkit-app-region: drag;
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.actionInnerContainer {
  display: flex;
  align-items: center;
}

.actionsContainer button {
  background: none;
  border: none;
  font-size: 1rem;
  color: var(--color-text-primary);
  -webkit-app-region: no-drag;
}

.linkActions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.windowActions {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.icon {
  font-size: 0.8rem;
  color: var(--color-accent-pastel-dark);
}

.actionInnerContainer:hover .icon {
  color: var(--color-accent-pastel-main);
}

.actionInnerContainer:hover .actionText {
  color: var(--color-text-primary);
}

.actionText {
  font-size: 0.8rem;
  margin: 0;
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
}
