.appList {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
}

.appOtherList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  gap: 1rem;
}

.appMosaicList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  gap: 1rem;
  width: 40%;
}
