.container {
  position: relative;
  background-color: var(--bg-tertiary);
  border: 2px solid var(--text-primary);
  border-radius: 20px;
  width: 13rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  box-sizing: border-box;
  margin: 1rem;
}

.container:hover > .hoverCard {
  opacity: 1;
  transform: translateX(0) scale(1);
  transition-delay: 0.5s;
}

.contentWrapper {
  width: 100%;
  flex-grow: 1;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.icon {
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.titleContainer {
  width: 100%;
  background-color: var(--bg-tertiary);
  border-top: 2px solid var(--text-primary);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 0;
}

.title {
  color: var(--text-alternative);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
  margin: 0;
}

.hoverCard {
  position: absolute;
  left: 15rem;
  opacity: 0;
  transform: translateX(-50%) scale(0.35);
  transition:
    opacity 0.2s ease-out,
    visibility 0s linear 0.2s,
    transform 0.2s ease-out;
  transition-delay: 0.5s;
}
