.container {
  position: relative;
  background-color: var(--color-bg-primary);
  border-radius: 20px;
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border-primary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out,
    border-color 0.4s ease-in-out;
  box-sizing: border-box;
  margin: 1rem;
}

.container:hover {
  transform: translateY(-2px);
  border-color: var(--color-accent-vibrant-green-main);
  box-shadow: 0 2px 25px var(--color-accent-pastel-shadow-hover);
  cursor: pointer;
}

.contentWrapper {
  width: 100%;
  flex-grow: 1;
  background-color: var(--color-bg-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.icon {
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.titleContainer {
  width: 100%;
  background-color: var(--bg-tertiary);
  border-top: 2px solid var(--color-accent-pastel-main);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 0;
}

.title {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
  margin: 0;
}

.mainLinkArea {
  text-decoration: none;
}
