.container {
  background-color: var(--bg-tertiary);
  border: 2px solid var(--text-primary);
  border-radius: 20px;
  width: 13rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  box-sizing: border-box;
}

.container:hover {
  transform: translateY(-3px);
}

.iconWrapper {
  width: 100%;
  flex-grow: 1;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  color: var(--text-alternative);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 10px 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--bg-tertiary);
  flex-shrink: 0;
  border-top: 2px solid var(--text-primary);
  margin-top: -2px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
